.loginPage {
  text-align: center;
  position: relative;
  height: 900px;
  width: 100%;
  border: 2px solid balck;
  background-color: gray;
  opacity: 0.4;
}
#login {
  margin: 0 auto;
  /* 가운데 정렬 */
  text-align: center;
  position: relative;
  height: 400px;
  top: 100px;
  border: 3px solid white;
  border-radius: 20px;
  width: 500px;
  background-color: #238bb8;
  font-weight: bold;
  color: #d8c391;
}
#LoginTitle {
  font-family: "Nanum Pen Script", cursive;
  font-size: 50px;
  padding-bottom: 20px;
}

.loginInput {
  padding: 10px;
  border-radius: 20px;
  border: 2px solid wheat;
}
.loginPageButton {
  position: relative;
  margin: 10px;
  padding: 10px;
  background-color: powderblue;
  border: 2px solid white;
  color: #1a0e92;
  border-radius: 20px;
  cursor: pointer;
}
.loginPageButton:hover {
  background-color: #eab695;
}

.signupPage {
  text-align: center;
  position: relative;
  font-size: 20px;
  height: 700px;
  border: 2px solid #91d6d8;
  font-weight: bold;
  color: #ddeff0;
  background-color: #6aafcd;
}
#signupTitle {
  font-family: "Nanum Pen Script", cursive;
  font-size: 50px;
  padding-top: 40px;
}
.signupPage2 {
  margin: 0 auto;
  /* border: 2px solid black; */
  padding: 30px;
  width: 300px;
}
.signupPage2 > span {
  float: left;
  padding: 10px;
}
.signupPage2 > input {
  padding: 10px;
  position: sticky;
  border-radius: 10px;
  border: 2px solid white;
  float: right;
}
.signupPage2 > button {
  margin-top: 10px;
  margin-left: 70px;
  padding: 10px;
  background-color: #e77345;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}
#region {
  padding: 15px;
  float: right;
  border-radius: 10px;
}
.signupPage2 > button:hover {
  background-color: #eab695;
}
#signupButton {
  background-color: #01447f;
  border: 4px solid white;
  border-radius: 20px;
  margin-top: 50px;
  margin-left: 80px;
  padding: 30px;
  color: white;
  cursor: pointer;
}
#signupButton:hover {
  background-color: #f08259;
}
.Mypage {
  text-align: center;
  position: relative;
  margin: 0 auto;
  height: 900px;
  width: 100%;
  background-color: #6aafcd;
  color: white;
  opacity: 0.8;
}

#MyPageTitle {
  font-size: 70px;
  font-family: "Nanum Pen Script", cursive;
}

.MypageText {
  padding: 100px;
  margin-left: 150px;
  padding-top: 170px;
  font-size: 20px;
  font-weight: bold;
}
#MypageMBTI {
  position: absolute;
  top: 170px;
  left: 420px;
}
#MypageMBTI > input {
  margin-top: 14px;
  padding: 20px;
  width: 200px;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 20px;
}
.MBTIimg {
  width: 200px;
  height: 200px;
  border-radius: 40px;
}

.MypageText > input {
  padding: 10px;
  margin-left: 20px;
  border: 2px solid white;
  border-radius: 20px;
}
.MypageButton > button {
  background-color: #1f3e85;
  border: solid 5px powderblue;
  cursor: pointer;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  margin: 10px;
  padding: 20px;
}
.MypageButton > button:hover {
  background-color: #eab695;
}

.checkpassword {
  position: fixed;
  border: 5px solid #707ca2;
  width: 400px;
  border-radius: 30px;
  height: 500px;
  left: 630px;
  background-color: #708da2;
  color: whitesmoke;
}
.checkpassword > input {
  padding: 15px;
  border-radius: 20px;
}
.checkpassword > button {
  padding: 15px;
  margin: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.updateUserInfo > input {
  padding: 15px;
  border-radius: 20px;
}
.updateUserInfo > button {
  margin: 15px;
  padding: 15px;
  border-radius: 20px;
  cursor: pointer;
}

.select {
  padding: 10px;
  border-radius: 20px;
}
#SurveyLink {
  position: fixed;
  left: 20px;
  top: 150px;
  padding: 20px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  background-color: #c4dcee;
  border-radius: 50px;
  border: 3px solid white;
}
#SurveyLink:hover {
  background-color: #ecda9d;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
