#Board {
  text-align: center;
  padding-bottom: 500px;
  padding-top: 60px;
  background-color: #dafff7;
}
.boardtitle {
  font-size: 50px;
  font-family: "Nanum Pen Script", cursive;
  color: black;
  text-align: center;
}

.Post {
  margin: 0 auto;
  display: flex;
  position: relative;
  width: 900px;
  padding: 20px;
  padding-left: 43px;
  background-color: #214377;
  color: white;
  font-weight: bold;
  border-bottom: 2px solid #3480fb;
  border: 2px solid white;
}

.Post > #title {
  flex: 4 1 auto;
}
.post > #MBTI {
  flex: 1 1 auto;
}
.Post > #writer {
  flex: 1 1 auto;
}
.post > #date {
  flex: 2 1 auto;
}
.Posts {
  margin: 0 auto;
  display: flex;
  position: relative;
  width: 900px;
  padding: 20px;
  padding-left: 43px;
  background-color: #8abde9;
  color: white;
  font-weight: bold;
  border-bottom: 2px solid #3480fb;
}

.Posts > #title {
  flex: 4 1 auto;
  cursor: pointer;
}
.posts > #MBTI {
  flex: 1 1 auto;
}
.Posts > #writer {
  flex: 1 1 auto;
}
.posts > #date {
  flex: 2 1 auto;
}

#Posting {
  padding: 20px;
  /* margin: 0 auto; */
  background-color: #1f3e85;
  border: 3px solid white;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
}

#Posting:hover {
  background-color: #ebccb8;
}

#Writing {
  /* border: 3px solid black; */
  margin: 0 auto;
  font-size: 30px;
  text-align: center;
  font-family: "Nanum Pen Script", cursive;
}
#WritingTitle {
  width: 700px;
}
#WritingContent {
  width: 700px;
  height: 1000px;
}

.WritingButton {
  border-radius: 20px;
  padding: 20px;
  margin: 50px;
}
