#nav {
  display: flex;
  /* border: 5px solid black; */
  width: 100%;
  justify-content: center;
  background-color: #174771;
}

.nav_element {
  color: white;
  flex: 1 1 auto;
  font-family: "Nanum Pen Script", cursive;
  font-size: 35px;
  padding-top: 30px;
  font-weight: bold;

  /* background-color: ; */

  text-align: center;
  width: 350px;
  height: 50px;
  /* text-decoration: none; */
}
.nav_element:hover {
  background-color: white;
  color: #174771;
}
.nav_element:active {
  background-color: #b1edf7;
}

#Footer {
  position: fixed;
  font-weight: bold;
  /* border-top: solid 3px #5448cd; */
  color: #ecda9d;
  text-align: center;
  bottom: 0px;
  width: 100%;
}
