body {
  margin: 0;
}
#MBTISearch {
  color: black;
  font-size: 20px;
  font-family: "Cute Font", cursive;

  /* width: 100%; */
}
#border {
  border: 2px solid black;
}
#center {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

div[id="MBTISearch"] div div {
  margin-top: 10px;
}
div[id="MBTISearchTitle"] {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
.searchbutton1 {
  /* position: fixed; */
  bottom: 100px;
  padding: 20px;
  width: 200px;
  margin: 0 auto;
  border-radius: 40px;
  font-size: 20px;
  color: white;
  background-color: #acd5e5;
  cursor: pointer;
  border: 2px solid white;
  font-family: "Cute Font", cursive;
}
.searchbutton2 {
  /* position: fixed; */
  padding: 20px;
  width: 200px;
  border-radius: 20px;
  font-size: 20px;
  color: white;
  background-color: #176380;
  cursor: pointer;
  border: 2px solid white;
  font-family: "Cute Font", cursive;
  float: right;
}
.searchbutton1:hover {
  background-color: #78c6e4;
  color: white;
}
.searchbutton2:hover {
  background-color: #78c6e4;
  color: white;
}

input[type="checkbox"] {
  position: sticky;
  left: 0px;
  width: 40px;
  height: 15px;
  cursor: pointer;
  zoom: 1.5;
}
